.tabs-section {
    padding: 50px;
    /* max-width: 900px; */
    margin: auto;
    text-align: center;
  }
  
  .tabs {
    display: flex;
    justify-content: space-between;
    /* gap: 10px; */
    margin-bottom: 20px;
  }
  
  .tab {
    padding: 10px 20px;
    background-color: #f5f5f5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .tab.active {
    background-color: #121223;
    color: white;
  }
  
  /* .tab:hover {
    background-color: #e0e0e0;
  } */
  
  .tab-content {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: left;
  }
  
  .tab-content img {
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
  }